/* Add mobile styles for the component here.  */
.checkup_name {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 5px;
}
.checkup_code {
  vertical-align: center;
}
.code_bg {
  background-color: #f7f7f7;
  padding: 10px;
}
