/* Add mobile styles for the component here.  */

.hr1 {
  background-color: #c0c0c0;
  margin-top: 7px;
}
.doctor_name {
  background-color: #ffffff;
  padding: 10px;
  padding-right: 5px;
}
.ap_date {
  vertical-align: center;
}
.code_bg {
  background-color: #f7f7f7;
  padding: 10px;
}
