<StackLayout orientation="vertical">
  <StackLayout class="hr1" height="1spx" width="100%"></StackLayout>
  <Calendar
    style="margin-left: 20px; margin-right: 20px"
    height="360"
    backgroundColor="#ffffff"
    row="1"
    [settings]="settings"
    [events]="events"
    [appearance]="appearance"
    (dateSelected)="dateSelected($event)"
    (loaded)="calendarLoaded($event)"
  >
  </Calendar>

  <StackLayout orientation="horizontal" height="30" width="100%">
    <StackLayout width="50%" backgroundColor="#cccccc">
      <Label
        horizontalAlignment="center"
        text="{{ selected_date }}"
        fontSize="16"
        style="margin: 10px"
        color="#696969"
      ></Label>
    </StackLayout>
    <StackLayout width="50%" backgroundColor="#B83744">
      <Label
        text="Book Appointment"
        horizontalAlignment="center"
        (tap)="bookAppointment()"
        style="margin: 10px"
        fontSize="16"
        color="#ffffff"
      ></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout style="margin: 15px">
    <ListView
      class="list-group"
      [items]="data"
      height="100%"
      (itemTap)="onItemTap($event)"
      separatorColor="#F7F7F7"
    >
      <ng-template let-item="item">
        <StackLayout orientation="vertical" height="100%">
          <StackLayout
            orientation="horizontal"
            height="115px"
            backgroundColor="#fff"
          >
            <StackLayout
              orientation="vertical"
              width="25%"
              height="100%"
              class="code_bg"
            >
              <StackLayout height="50%" width="100%">
                <Label [text]="item.day" class="ap_date" fontSize="16"></Label>
              </StackLayout>

              <StackLayout orientation="horizontal" height="50%" width="100%">
                <Label [text]="item.date" class="ap_date" fontSize="14"></Label>
              </StackLayout>
            </StackLayout>
            <StackLayout width="75%" class="doctor_name">
              <StackLayout
                height="50%"
                width="100%"
                horizontalAlignment="center"
                verticalAlignment="center"
              >
                <Label [text]="item.doctor_name" fontSize="16"></Label>
              </StackLayout>

              <StackLayout orientation="horizontal" height="50%" width="100%">
                <Label [text]="item.dept" fontSize="14"></Label>
              </StackLayout>
            </StackLayout>
          </StackLayout>
          <StackLayout
            height="3px"
            backgroundColor="#F7F7F7"
            width="100%"
          ></StackLayout>
        </StackLayout>
      </ng-template>
    </ListView>
  </StackLayout>
</StackLayout>
