<ActionBar title="PSG Hospitals"></ActionBar>


<GridLayout id="grid">
    <Image src="~/images/gradient_background.jpg" id="img" stretch="aspectFill"></Image>
    <StackLayout>
        <Image src="~/images/pass.png"></Image>
        <TextField hint="New Password" autocorrect="false" autocapitalizationType="none" class="input input-border" (textChange)="returnPass($event)" maxLength="10" [(ngModel)]="new_password"></TextField>
        <label class="error-msg" text="Please enter a valid Password" [visibility]="!validpass? 'visible' : 'collapsed'" textWrap="true"></label>
        <label class="error-msg" text="New Password field cannot be blank" [visibility]="!passfield ? 'visible' : 'collapsed'" textWrap="true"></label>
        <TextField hint="Re-Type New password" autocorrect="false" autocapitalizationType="none" class="input input-border" (textChange)="returnRpass($event)" [(ngModel)]="rnewpassword" maxLength="10">
        </TextField>
        <label class="error-msg" text="Invalid Mobile Number" [visibility]="!validrpass? 'visible' : 'collapsed'" textWrap="true"></label>
        <label class="error-msg" text="Re-Type field cannot be blank" [visibility]="!rpassfield ? 'visible' : 'collapsed'" textWrap="true"></label>
        <Button text="SET PASSWORD" class="btn btn-primary" (tap)="getdetails()"></Button>
    </StackLayout>
</GridLayout>