<ActionBar>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" horizontalAlignment="left" width="100%">

            <StackLayout verticalAlignment="center" height="50" width="100%">
                <Label text="PSG Hospitals" fontSize="20px" color="#ffffff"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>

</ActionBar>

<StackLayout>
    <StackLayout #topView height="35" style="background-color:#CCCCCC">
        <label style="margin-left:10;padding-top:8;padding-bottom:3;font-size:14" color="#000000" text="FORGOT OPCODE"></label>
    </StackLayout>
    <StackLayout class="one">
        <label id="labelid" text="Please enter your registered mobile number"></label>
        <StackLayout orientation="horizontal" horizontalAlignment="center" style="margin-top:24;">
            <TextField hint="Mobile Number" class="grey_line" maxLength="10" keyboardType="phone" width="200" height="90px" (textChange)="returnPress($event)" [(ngModel)]="mobile"></TextField>
            <button height="55" width="55" style="background-color:#B83744;color:white;font-size:18;" text="GO" (tap)="getMobileNumber()"></button>
        </StackLayout>
        <label class="error-msg" text="Mobile field cannot be Empty" [visibility]="!valid? 'visible' : 'collapsed'" textWrap="true"></label>
        <label class="error-msg" text="Invalid Mobile Number" [visibility]="!flag? 'visible' : 'collapsed'" textWrap="true"></label>
    </StackLayout>

    <StackLayout>
        <ActivityIndicator height="50" visibility="{{loading ? 'collapsed' : 'visible'}}" color="#B83744" busy="true" width="50"></ActivityIndicator>
    </StackLayout>

    <StackLayout orientation="vertical" horizontalAlignment="center" [visibility]="list_user_name ? 'visible' : 'collapsed'" width="80%" height="100%">
        <Label text="The following patients are associated with this mobile number. Please select one from the list" textWrap="true"></Label>


        <ListView class="list-group" [items]="data" style="margin-top: 20px;margin-left: 30px" height="300px" (itemTap)="onItemTap($event)" separatorColor="#ffffff">
            <ng-template let-item="item">

                <StackLayout orientation="horizontal">
                    <Label text="&#xf111;" fontSize="25" color="#B83744" class="far" style="margin-top: 20px" [visibility]="!item.select? 'visible' : 'collapsed'"></Label>
                    <Label text="&#xf192;" fontSize="25" color="#B83744" class="far" style="margin-top: 20px" [visibility]="item.select? 'visible' : 'collapsed'"></Label>

                    <Label [text]="item.patient_name" fontSize="14" style="margin-left: 25px;margin-top: 23px" textWrap="true"></Label>
                </StackLayout>


            </ng-template>
        </ListView>
        <Button text="SEND OPCODE TO REGISTERED NUMBER" fontSize="16" class="btn btn-primary" (tap)="send_opcode()"></Button>

    </StackLayout>
</StackLayout>