/* Add mobile styles for the component here.  */

.error-msg {
    font-size: 14;
    color: white;
    padding-left: 15;
    padding-top: 5;
    padding-bottom: 5;
    padding-right: 15;
    height: 30;
    word-wrap: break-word;
    background-color: black;
    border-top-width: 2;
    border-top-color: red;
    margin-left: 50;
    margin-top: 5;
    margin-right: 18;
}

.btn-primary {
    background-color: #B83744;
    margin-left: 0;
    margin-right: 0;
}

.sizefont {
    font-size: 30;
    font-family: 'Courier New', Courier, monospace;
}

.sl {
    background-color: blue;
}

#labelid {
    text-align: center;
    align-items: center;
    font-size: 15;
}

.font-awesome {
    font-size: 14;
}

.fa {
    font-family: "Font Awwesome 5 Free", "fa-solid-900", "fa-regular-400";
}

.one {
    margin-top: 30;
    padding: 30;
}

.grey_line {
    border-bottom-width: 2;
    border-color: rgb(182, 175, 175);
}