<ListView class="list-group" [items]="data" height="100%" (itemTap)="onItemTap($event)" separatorColor="#F7F7F7" >
    <ng-template let-item="item">
        <StackLayout orientation="vertical" height="100%">
            <StackLayout orientation="horizontal" height="155px" backgroundColor="#fff">
                <StackLayout width="22%" height="100%" verticalAlignment="center" HorizontalAlignment="center" class="code_bg">
                    <Label [text]="item.code" class="checkup_code" fontSize="14"></Label>
                </StackLayout>
                <StackLayout width="72.5%" verticalAlignment="center" HorizontalAlignment="center" class="checkup_name">
                    <Label textWrap="true" [text]="item.name" fontSize="18"></Label>
                </StackLayout>
                <StackLayout width="5.5%" verticalAlignment="center" HorizontalAlignment="center">
                    <Label text=">" color="#cccccc" fontSize="25"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout height="2px" backgroundColor="#F7F7F7" width="100%"></StackLayout>
        </StackLayout>
    </ng-template>
</ListView>
