<Page>
    <GridLayout>
        <Image src="~/images/gradient_background.jpg" id="img" stretch="aspectFill"></Image>
        <StackLayout>
            <Image src="~/images/otp.png"></Image>

            <TextField hint="Enter OTP" autocorrect="false" [(ngModel)]="otp" autocapitalizationType="none" class="input input-border" maxLength="9" (textChange)="returnPress($event)"></TextField>

            <label class="error-msg" text="Please enter valid OP Code" [visibility]="!valid? 'visible' : 'collapsed'" textWrap="true"></label>
            <label class="error-msg" text="Please Enter 9 digit OP code" [visibility]="!flag? 'visible' : 'collapsed'" textWrap="true"></label>

            <label id="label_gap" text="Resend OTP" textWrap="true" style="font-size: 13"></label>

            <Button text="Submit" (tap)="getdetails()" class="btn btn-primary"></Button>

        </StackLayout>
    </GridLayout>
</Page>