<ActionBar>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" horizontalAlignment="left" width="85%">
            <StackLayout verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/home']">
                <Label text="&#xf015;" fontSize="25px" color="#ffffff" class="fa home_icon"></Label>
            </StackLayout>
            <StackLayout verticalAlignment="center" height="50" width="85%">
                <Label text="About" fontSize="20px" color="#ffffff"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="right" verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/profile']">
            <Label text="&#xf007;" color="#ffffff" fontSize="23px" class="fa profile_icon"></Label>
        </StackLayout>
    </StackLayout>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="FAQ" [nsRouterLink]="['/faq']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Policies" [nsRouterLink]="['/policies']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="About" [nsRouterLink]="['/about']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Contact" [nsRouterLink]="['/contact']" ></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Logout" (tap)="logout()"></ActionItem>
</ActionBar>

<StackLayout>
    <Image src="~/images/psg2.png" height="200dp" width="250dp" horizontalAlignment="center"></Image>
    <Label text="Build : 17" class="build_text" horizontalAlignment="center" ></Label>
    <Label text="Version : 1.04" class="version_text" horizontalAlignment="center"></Label>
</StackLayout>
