.layout1{
    padding: 15px ;
    margin-top: 50px;
}

.layout2{
    padding: 5px;
    margin-left: 20px
}

.email_text{
    padding-top: 5px;
    margin-left: 10px
}

.email{
    margin-bottom: 15px;
}
