<ActionBar>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" horizontalAlignment="left" width="85%">
            <StackLayout verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/home']">
                <Label text="&#xf015;" fontSize="25px" color="#ffffff" class="fa home_icon"></Label>
            </StackLayout>
            <StackLayout verticalAlignment="center" height="50" width="85%">
                <Label text="Contact" fontSize="20px" color="#ffffff"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="right" verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/profile']">
            <Label text="&#xf007;" color="#ffffff" fontSize="23px" class="fa profile_icon"></Label>
        </StackLayout>
    </StackLayout>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="FAQ" [nsRouterLink]="['/faq']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Policies" [nsRouterLink]="['/policies']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="About" [nsRouterLink]="['/about']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Contact" [nsRouterLink]="['/contact']" ></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Logout" (tap)="logout()"></ActionItem>
</ActionBar>

<StackLayout orientation="horizontal" class="layout1">
    <Label text="Email : " color="#9e9e9e" class="email_text"></Label>
    <StackLayout orientation="vertical" class="layout2">
        <Label textWrap="true" color="#000000" (tap)="share()" text="support@psgsoftwaretechnologies.com" class="email" ></Label>
        <Label  textWrap="true" color="#9e9e9e"  text="(Mention your OP Code, Name, Registered Mobile Number and issue. We will get back to you at the earliest)"  ></Label>
    </StackLayout>
</StackLayout>
