<ActionBar>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" horizontalAlignment="left" width="85%">
            <StackLayout verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/home']">
                <Label text="&#xf015;" fontSize="25px" color="#ffffff" class="fa home_icon"></Label>
            </StackLayout>
            <StackLayout verticalAlignment="center" height="50" width="85%">
                <Label text="{{action_title}}" fontSize="20px" color="#ffffff"></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="right" verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/profile']">
            <Label text="&#xf007;" color="#ffffff" fontSize="23px" class="fa profile_icon"></Label>
        </StackLayout>
    </StackLayout>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="FAQ" [nsRouterLink]="['/faq']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Policies" [nsRouterLink]="['/policies']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="About" [nsRouterLink]="['/about']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Contact" [nsRouterLink]="['/contact']" ></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Logout" (tap)="logout()"></ActionItem>
</ActionBar>

<StackLayout orientation="vertical" backgroundColor="#ffffff">
    <StackLayout orientation="horizontal"  height="70" width="95%">
        <StackLayout width="11%" verticalAlignment="center" (tap)="step1()" HorizontalAlignment="center">
            <Image src="{{ one }}"  width="55px" height="55px"></Image>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center"HorizontalAlignment="center">
            <StackLayout height="3px" backgroundColor="#9e9e9e" width="90%" ></StackLayout>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center"  (tap)="step2()"  HorizontalAlignment="center">
            <Image src="{{two}}"  width="55px" height="55px"></Image>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center" HorizontalAlignment="center">
            <StackLayout height="3px" backgroundColor="#9e9e9e" width="90%" ></StackLayout>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center" (tap)="step3()"  HorizontalAlignment="center">
            <Image src="{{three}}"  width="55px" height="55px"></Image>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center" HorizontalAlignment="center">
            <StackLayout height="3px" backgroundColor="#9e9e9e" width="90%" ></StackLayout>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center"  (tap)="step4()" HorizontalAlignment="center">
            <Image src="{{four}}"  width="55px" height="55px"></Image>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center" HorizontalAlignment="center">
            <StackLayout height="3px" backgroundColor="#9e9e9e" width="90%" ></StackLayout>
        </StackLayout>
        <StackLayout width="11%" verticalAlignment="center"  (tap)="step5()" HorizontalAlignment="center">
            <Image src="{{five}}"  width="55px" height="55px"></Image>
        </StackLayout>
    </StackLayout>
    <StackLayout height="100%">
              <StackLayout orientation="vertical" height="100%">
                        <StackLayout [ngSwitch]="currentStep" height="100%" width="100%">
                            <ns-ap-step1 *ngSwitchCase="1" ></ns-ap-step1>
                            <ns-ap-step2 *ngSwitchCase="2"></ns-ap-step2>
                            <ns-ap-step3 *ngSwitchCase="3"></ns-ap-step3>
                            <ns-ap-step4 *ngSwitchCase="4"></ns-ap-step4>
                            <ns-ap-step5 *ngSwitchCase="5"></ns-ap-step5>
                        </StackLayout>
                    </StackLayout>

    </StackLayout>

</StackLayout>
