/* Add mobile styles for the component here.  */
/* Add mobile styles for the component here.  */

.sizefont {
    font-size: 30;
    font-family: 'Courier New', Courier, monospace;
}
.sl{
    background-color:blue;
}
label{
    padding:10;
    font-size:20;
    font-weight: bold;
}

.font-awesome {
    font-size: 14;
}

