<ActionBar>
  <StackLayout orientation="horizontal">
      <StackLayout orientation="horizontal" horizontalAlignment="left" width="100%">
          <StackLayout verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/op-code']">
              <Label text="&#xf015;" fontSize="25px" color="#ffffff" class="fa home_icon"></Label>
          </StackLayout>
          <StackLayout verticalAlignment="center" height="50" width="85%">
              <Label text="PSG Hospitals" fontSize="20px" color="#ffffff"></Label>
          </StackLayout>
      </StackLayout>
  </StackLayout>

</ActionBar>
  <StackLayout>
<StackLayout #topView height="35" style="background-color:white" >
    <label style="text-align:center;font-family: sans-serif;padding-top:8;padding-bottom:3;font-size:18" text="Terms and Conditions" ></label>
</StackLayout>

  <StackLayout verticalAlignment="center" height="100%">
        <ActivityIndicator height="100%" visibility="{{loading ? 'collapsed' : 'visible'}}" color="#B83744"  busy="true" width="50"></ActivityIndicator>
    <WebView height="100%" loaded="onWebViewLoaded" [src]="webViewSrc"  (loadFinished)="pageLoaded()" ></WebView>


  </StackLayout>

</StackLayout>
