.image--cover {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 20px;
    margin-top: 20px;
    padding: 2px;
    background-color: #c0c0c0;
    object-fit: cover;
    object-position: center right;
  }


  .conact_text{
    padding-left: 40px;
  }


  .contact_layout{
    margin-top: 50px;
    margin-left: 20px;
    padding-left: 40px;
  }
  .contact_label{
    color:#ffffff;
    padding: 10px;
    padding-left: 30px;
  }
  .contact_design{
    background-color: #B83744;
    margin-top: 30px;
  }

  .profile_label{
    color: #B83744;
    margin-bottom: 7px;
  }

  .hr1{
    background-color: #c0c0c0;
     margin-top:15px;
  }
  .hr2{
    background-color: #c0c0c0;
    margin-top:10px;
    margin-top:20px;
  }
  .profile_align{
    margin-top:20px;
  }

  .op_details{
    margin-left:10px;
    margin-top:35px;
  }
  .op_name{
    margin-bottom: 10px;
  }
  .layout{
    margin-bottom: 30px;

  }
