<ActionBar>
    <StackLayout orientation="horizontal">
        <StackLayout orientation="horizontal" horizontalAlignment="left" width="100%">
            <StackLayout verticalAlignment="center" height="50" width="15%" [nsRouterLink]="['/home']">
                <Label text="&#xf015;" fontSize="25px" color="#ffffff" class="fa home_icon"></Label>
            </StackLayout>
            <StackLayout verticalAlignment="center" height="50" width="85%">
                <Label text="Profile" fontSize="20px" color="#ffffff"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="FAQ" [nsRouterLink]="['/faq']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Policies" [nsRouterLink]="['/policies']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="About" [nsRouterLink]="['/about']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Contact" [nsRouterLink]="['/contact']" ></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Logout" (tap)="logout()"></ActionItem>
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="layout">
            <StackLayout class="profile_align" orientation="horizontal" horizontalAlignment="left">
                <Image src="~/images/user.png" stretch="aspectFill" class="image--cover"></Image>
                <StackLayout orientation="vertical" class="op_details">
                    <Label text="{{name}}" fontSize="16" class="op_name"></Label>
                    <Label text="{{op_code}}" fontSize="16"  ></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout  class="hr1" height="3px" width="95%"></StackLayout>
            <StackLayout orientation="horizontal" class="profile_align" >
                <StackLayout orientation="vertical"  width="33%">
                    <Label text="Age" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <Label text="{{age}}" fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></Label>
                </StackLayout>
                <StackLayout  backgroundColor="#c0c0c0" width=".5%"></StackLayout>
                <StackLayout  width="33%" >
                    <Label text="Gender" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <Label text="{{sex}}" fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></Label>
                </StackLayout>
                <StackLayout  backgroundColor="#c0c0c0" width=".5%"></StackLayout>
                <StackLayout  width="33%" >
                    <Label text="Blood" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <Label text="B +ve" fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout  class="hr2" height="3px" width="95%"></StackLayout>
            <StackLayout orientation="horizontal" class="profile_align">
                <StackLayout orientation="vertical"  width="33%">
                    <Label text="Weight" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <TextField text="51.5 kg"  fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></TextField>
                </StackLayout>
                <StackLayout  backgroundColor="#c0c0c0" width=".5%"></StackLayout>
                <StackLayout  width="33%" >
                    <Label text="Height" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <Label text="172 ft" fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></Label>
                </StackLayout>
                <StackLayout backgroundColor="#c0c0c0" width=".5%"></StackLayout>
                <StackLayout  width="33%" >
                    <Label text="BMI" fontSize="19" class="profile_label" horizontalAlignment="center" verticalAlignment="center" ></Label>
                    <Label text="0.0" fontSize="16"  horizontalAlignment="center" verticalAlignment="center"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout class="contact_design">
                <Label text="CONTACT" fontSize="16" class="contact_label" ></Label>
            </StackLayout>
            <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal" class="contact_layout">
                    <Label text="&#xf3c5;" fontSize="25" color="#B83744" class="fa" ></Label>
                    <Label text="{{address}}"  fontSi  ze="17" class="conact_text" textWrap="true"></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="vertical">
                <StackLayout orientation="horizontal" class="contact_layout">
                    <Label text="&#xf3cd;" fontSize="25" color="#B83744"  class="fa" ></Label>
                    <Label text="{{phone}}"  fontSize="17" class="conact_text" ></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout orientation="vertical" visibility="{{ isItemVisible ? 'visible' : 'collapsed' }}" >
                <StackLayout orientation="horizontal" class="contact_layout">
                    <Label text="&#xf0e0;" fontSize="25" color="#B83744" class="fa" ></Label>
                    <Label text="{{email}}"  fontSize="17" class="conact_text" ></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
    </ScrollView>
</GridLayout>
