<GridLayout>
    <Image src="~/images/gradient_background.jpg" id="img" stretch="aspectFill"></Image>
    <StackLayout>
        <Image src="~/images/psg2.png"></Image>
        <TextField hint="Password" secure="true" maxLength="12" autocorrect="false" autocapitalizationType="none" class="input input-border" [(ngModel)]="password" returnKeyType="done" (textChange)="returnPress($event)"></TextField>
        <label class="error-msg" text="Field cannot be Empty" [visibility]="!validpassword? 'visible' : 'collapsed'" textWrap="true"></label>
        <label text="Forgot Password ?" textWrap="true" style="font-size:13" [nsRouterLink]="['/reset-password']"></label>
        <Button text="SIGN-IN" class="btn btn-primary" (tap)="getPassword()"></Button>

    </StackLayout>

</GridLayout>