GridLayout{
    justify-content: center;
    align-items: center;
    background-color:#F0F2F3;
  }
  #img{
      margin-top: -50;
    margin-bottom: 350;
    height: 250;
    orientation:horizontal;
  }
  StackLayout {
    width: 300;
    height: 500;
    padding: 10 16;
    background-color: white;
  }
  .btn-primary {
    background-color:#B83744;
    margin-left: 0;
    margin-right: 0;
  }
  label{
    margin-top: 10;
    color: #B83744;
  }
  Image {
    margin-bottom: 50;
    height: 150;
  }
  #ll{
      font-size: 11;
      justify-content: center;
      orientation: horizontal;
  }
  Button {
    margin-top: 100;
    width:200;
    height:60;
  }
  TextField{
    border-bottom-width:2;
    border-color:rgb(182, 175, 175);
  }
  .error-msg{
    font-size:14;
    color:white;
    text-align:center;
    padding-top:5;
    height:30;
    word-wrap: break-word;
    background-color: black;
    border-top-width:2 ;
    border-top-color: red;
    margin-top:5;
    margin-left:100;
}
