<ActionBar title="PSG Hospitals"></ActionBar>


<GridLayout id="grid">
        <Image src="~/images/gradient_background.jpg" id="img" stretch="aspectFill"></Image>
        <StackLayout>
                <label class="label-id" text="Please enter OP Code and mobile number to receive OTP"
                        textWrap="true"></label>
                <TextField hint="OP Code" autocorrect="false" autocapitalizationType="none" class="input input-border"
                        (textChange)="returnOP($event)"  maxLength="9" [(ngModel)]="op_code"></TextField>
                <label class="error-msg" text="Please enter a valid OP Code"
                        [visibility]="!validop? 'visible' : 'collapsed'" textWrap="true"></label>
                <label class="error-msg" text="OPfield cannot be blank" [visibility]="!opfield ? 'visible' : 'collapsed'" textWrap="true"></label>
                <TextField hint="Mobile Number" autocorrect="false" autocapitalizationType="none"
                        class="input input-border" (textChange)="returnMob($event)" [(ngModel)]="mobile" maxLength="10">
                </TextField>
                <label class="error-msg" text="Invalid Mobile Number" [visibility]="!validmobile? 'visible' : 'collapsed'"
                        textWrap="true"></label>
                        <label class="error-msg" text="Mobile field cannot be blank" [visibility]="!mobilefield ? 'visible' : 'collapsed'" textWrap="true"></label>
                <Button text="GET OTP" class="btn btn-primary" (tap)="validation()"></Button>
        </StackLayout>
</GridLayout>
