/* Add mobile styles for the component here.  */


/* Add mobile styles for the component here.  */

ActionBar {
    background-color: #B83744;
    color: white;
}

GridLayout {
    justify-content: center;
    align-items: center;
    background-color: #F0F2F3;
}

#img {
    margin-top: -50;
    margin-bottom: 350;
    height: 250;
    orientation: horizontal;
}

StackLayout {
    width: 320;
    height: 500;
    padding: 10 16;
    background-color: white;
}

.btn-primary {
    background-color: #B83744;
    margin-left: 0;
    margin-right: 0;
}

.label-id {
    padding-top: 100;
    color: gray;
}

Image {
    margin-bottom: 50;
    height: 150;
}

TextField {
    margin-top: 30;
    width: 400;
    border-bottom-width: 2;
    border-color: rgb(182, 175, 175);
}

Button {
    margin-top: 70;
    width: 200;
    height: 60;
    width: 150;
}

.error-msg {
    font-size: 14;
    color: white;
    padding-left: 15;
    padding-top: 5;
    padding-bottom: 5;
    padding-right: 15;
    height: 30;
    word-wrap: break-word;
    background-color: black;
    border-top-width: 2;
    border-top-color: red;
    margin-top: 5;
}
