<Page>
    <GridLayout>
        <Image src="~/images/gradient_background.jpg" size="230px" id="img" stretch="aspectFill"></Image>
        <StackLayout class="cardLayout">
            <Image src="~/images/psg2.png"></Image>
            <AbsoluteLayout width="100%" height="120px">
                <TextField hint="OP Code" width="100%" autocorrect="false" [(ngModel)]="op_code" autocapitalizationType="none" class="input input-border" maxLength="9" (textChange)="returnPress($event)"></TextField>
                <StackLayout orientation="horizontal" verticalAlignment="center" horizontalAlignment="center" width="100%">
                    <ActivityIndicator height="50" visibility="{{loading ? 'collapsed' : 'visible'}}" color="#B83744" busy="true" width="50"></ActivityIndicator>

                </StackLayout>

            </AbsoluteLayout>

            <label class="error-msg" text="Please enter valid OP Code" [visibility]="!valid? 'visible' : 'collapsed'" textWrap="true"></label>
            <label class="error-msg" text="Please Enter 9 digit OP code" [visibility]="!flag? 'visible' : 'collapsed'" textWrap="true"></label>

            <label id="label_gap" text=" Forgot OP Code?" textWrap="true" style="font-size: 14; margin-top:15px" [nsRouterLink]="['/forgot-op']"></label>

            <Button text="Next" class="btn btn-primary" (tap)="validate()"></Button>

            <StackLayout orientation="horizontal" veritcalAlignment="center" horizontalAlignment="center" width="100%">

                <Label [nsRouterLink]="['/terms']">
                            <FormattedString>
                              <Span text="By continuing you agree to our " fontSize="11" ></Span>
                              <Span text="Terms and Condition" class="underline_design" fontSize="11" ></Span>
                            </FormattedString>
                          </Label>
            </StackLayout>
        </StackLayout>
    </GridLayout>
</Page>


<!-- 
<StackLayout>
  <ActivityIndicator height="50" visibility="{{loading ? 'collapsed' : 'visible'}}" color="#B83744" busy="true" width="50"></ActivityIndicator>
</StackLayout> -->