GridLayout{
    justify-content: center;
    align-items: center;
    background-color:#F0F2F3;
  }
  #img{
    margin-top: -50;
    margin-bottom: 350;
    height: 250;
    orientation:horizontal;
  }
  .cardLayout {
    width: 310;
    height: 500;
    padding: 10 16;
    background-color: white;
  }
  .btn-primary {
    background-color:#B83744;
    margin-left: 0;
    margin-right: 0;
  }
  #label_gap{
    margin-top: 5;
  }
  label{
    color:#B83744;
  }
  Image {
    margin-bottom: 50;
    height: 150;
  }
  #ll{
      font-size: 10;
      justify-content: center;
      orientation: horizontal;
  }
  Button {
    margin-top: 100;
    height: 60;
  }
  TextField{
    border-bottom-width:2;
    border-color:rgb(182, 175, 175);
  }

  .error-msg{
    font-size:14;
    color:white;
    padding-left:15;
    padding-top:5;
    padding-bottom: 5;
    padding-right:15;
    height:30;
    background-color: black;
    border-top-width:2 ;
    border-top-color: red;
    margin-left:50;
    margin-top:5;
    margin-right:0;
}
.underline_design{
  text-decoration: underline;
}
