/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
.fa{
    font-family: "Font Awwesome 5 Free" , "fa-solid-900", "fa-regular-400";
}

.far{
    font-family: "fa-regular-400";
}


.fas{
    font-family: "fa-solid-900";
}
ActionBar{
    background-color:#B83744;
}
.home_icon{
    margin-top: 2px;

}

.profile_icon{
    vertical-align:center;
     margin-right:25px;
}

.one{
    margin-top: 30;
    padding: 30;
}
.grey_line{
    border-bottom-width:2;
    border-color:rgb(182, 175, 175);
}
