<ActionBar >
    <StackLayout  orientation="horizontal" >
        <StackLayout  orientation="horizontal" horizontalAlignment="left" width="85%" >
            <StackLayout verticalAlignment="center" height="50" width="100%">
                <Label text="PSG Hospitals" fontSize="20px" color="#ffffff" ></Label>
            </StackLayout>
        </StackLayout>
        <StackLayout orientation="horizontal" horizontalAlignment="right" verticalAlignment="center" height="50" [nsRouterLink]="['/profile']"  width="15%">
            <Label text="&#xf007;" color="#ffffff" fontSize="23px" class="fa profile_icon" ></Label>
        </StackLayout>
    </StackLayout>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="FAQ" [nsRouterLink]="['/faq']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Policies" [nsRouterLink]="['/policies']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="About" [nsRouterLink]="['/about']"></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Contact" [nsRouterLink]="['/contact']" ></ActionItem>
    <ActionItem ios.systemIcon="16" ios.position="right" android.position="popup" text="Logout" (tap)="logout()"></ActionItem>
</ActionBar>

<StackLayout  backgroundImage="~/images/gradient_background.jpg">
    <StackLayout #topView height="35" backgroundColor="#B6AFAF" >
        <label class="display_name" text="Hi {{name}}" ></label>
    
    </StackLayout>
    <ScrollView height="100%">
        <StackLayout orientation="vertical">
            <GridLayout rows="*" columns="*,*" class="top_grid">
                <StackLayout orientation="vertical"  [nsRouterLink]="['/checkup']" class="image--cover" backgroundColor="white" row="0" col="0" height="110" width="110" verticalAlignment="center" horizontalAlignment="center">
                    <Image src="~/images/plans.png" class="grid" height="95px" width="99px" verticalAlignment="center" horizontalAlignment="center" ></Image>
                    <Label text="Health Plans" fontSize="14" verticalAlignment="center" horizontalAlignment="center" ></Label>
                </StackLayout>
                <StackLayout orientation="vertical" class="image--cover"  [nsRouterLink]="['/record']" backgroundColor="white" row="0" col="1" height="110" width="110" verticalAlignment="center" horizontalAlignment="center">
                    <Image src="~/images/reports.png" class="grid" height="95px" width="95px" verticalAlignment="center" horizontalAlignment="center" ></Image>
                    <Label text="Records" fontSize="14" verticalAlignment="center" horizontalAlignment="center" ></Label>
                </StackLayout>
            </GridLayout>
            <GridLayout rows="*" columns="*,*"  class="bottom_grid" >
                <StackLayout orientation="vertical" class="image--cover"   (tap)="labClick()" backgroundColor="#ffffff" row="1" col="0" height="110" width="110" verticalAlignment="center" horizontalAlignment="center">
                    <Image src="~/images/lab.png" class="grid" height="95px" width="95px" verticalAlignment="center" horizontalAlignment="center" ></Image>
                    <Label text="Lab" fontSize="14" verticalAlignment="center" horizontalAlignment="center" ></Label>
                </StackLayout>
                <StackLayout orientation="vertical" class="image--cover"  (tap)="appointmentClick()"  backgroundColor="#ffffff" row="1" col="1" height="110" width="110" verticalAlignment="center" horizontalAlignment="center">
                    <Image src="~/images/book appointment.png" class="grid" height="95px" width="95px" verticalAlignment="center" horizontalAlignment="center" ></Image>
                    <Label text="Appointment" fontSize="14" verticalAlignment="center" horizontalAlignment="center" ></Label>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView> >
</StackLayout>
