
.image--cover {
    border-radius: 3%;
    padding-top: 10px; 
}

.display_name{
    margin-left:10;padding-top:8;padding-bottom:3;font-size:15;
}
.top_grid{
    margin-top: 100px ;
}
.bottom_grid{
    margin-top: 70px; margin-bottom: 50px;
}

.grid{
    margin-bottom: 12px;
}